.progressBarContainer {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-100);
}

.progressBar {
  width: 60px;
  height: 8px;
  border: 1px solid var(--color-neutral-900);
  border-radius: var(--radius-full);
  background: var(--color-neutral-0);
}

.progressBarFill {
  background: var(--color-neutral-900);
  height: 100%;
  overflow: hidden;
  border-radius: var(--radius-full);
}

.mastered {
  display: flex;
  background: var(--color-teal-400);
  border: 1px solid var(--color-neutral-900);
  border-radius: var(--radius-full);
  padding: var(--spacing-75) var(--spacing-150);
  gap: var(--spacing-75);
  box-shadow: 1px 1px 0px var(--color-neutral-900);
}

.card {
  width: 397px;
  height: 258px;
  border-radius: var(--radius-16);
  border: 1px solid var(--color-neutral-900);
  box-shadow: inset -3px -3px 0px var(--color-neutral-900);
  background: var(--color-neutral-0);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0px;
  align-items: stretch;
}

.title {
  padding: var(--spacing-200);
  border-bottom: 1px solid var(--color-neutral-900);
}

.content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 6px;
  padding: var(--spacing-200);
  border-bottom: 1px solid var(--color-neutral-900);
  height: 60%;
}

.content span {
  opacity: 0.6;
}

.details {
  padding: 0 var(--spacing-200);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  height: 56px;
}

.category {
  padding: var(--spacing-75) var(--spacing-150);
  border-radius: var(--radius-full);
  border: 1px solid var(--color-neutral-900);
  box-shadow: 1px 1px 0px #000;
}

.bar {
  border: 1px solid var(--color-neutral-900);
  height: 100%;
  width: 50%;
  border-top: 0px;
  border-bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
