:root {
  /* Colors */
  --color-neutral-900: #2e1401;
  --color-neutral-600: #6d5b4d;
  --color-neutral-100: #f7f3f0;
  --color-neutral-0: #fff;
  --color-accent-yellow-500: #f8cb46;
  --color-accent-blue-400: #92adeb;
  --color-accent-blue-600: #5072c7;
  --color-accent-teal-400: #47d9c9;
  --color-accent-pink-400: #fc8ae5;
  --color-accent-pink-500: #f073a3;
  --color-accent-pink-700: #e11966;

  /* Typography */
  --font-base:
    "Poppins", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  --font-heading:
    "Poppins", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  --font-size-base: 16px;
  --line-height-base: 1.5;

  /* Spacing */
  --spacing-0: 0px;
  --spacing-25: 2px;
  --spacing-50: 4px;
  --spacing-75: 6px;
  --spacing-100: 8px;
  --spacing-125: 10px;
  --spacing-150: 12px;
  --spacing-200: 16px;
  --spacing-250: 20px;
  --spacing-300: 24px;
  --spacing-400: 32px;
  --spacing-500: 40px;
  --spacing-600: 48px;
  --spacing-800: 64px;
  --spacing-1000: 80px;
  --spacing-1200: 96px;
  --spacing-1300: 100px;
  --spacing-1400: 112px;
  --spacing-1600: 128px;
  --spacing-1800: 140px;

  /* radius */
  --radius-0: 0px;
  --radius-4: 4px;
  --radius-6: 6px;
  --radius-8: 8px;
  --radius-10: 10px;
  --radius-12: 12px;
  --radius-16: 16px;
  --radius-20: 20px;
  --radius-24: 24px;
  --radius-full: 999px;
  
  /* breakpoints */
  --bp-phone: 480px;
  --bp-tablet: 768px;
  --bp-desktop: 1024px;
}
